{% extends 'story_8/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'story_8/css/styles.css' %}">
{% endblock css %}
{% block title %}8{% endblock title %}
{% block content %}

    <h1 class="my-4">Book Catalog</h1>

    <!-- Input form -->
    <div class="container">

        <blockquote class="blockquote text-center my-4">
            <p class="mb-0">Anyone who says they have only one life to live must not know how to read a book.</p>
            <footer class="blockquote-footer">Author Unknown</cite></footer>
        </blockquote>

        <div class="input-group mb-3">
            <input id="search-book" type="text" class="form-control" placeholder="Search Book" name="q">
            <div class="input-group-append">
                <button id="button-search" type="button" class="btn btn-outline-success">Success</button>
            </div>
        </div>
    </div>

    <!-- Catalog books -->
    <div class="container" id="display-book">
        
    </div>
    
    
{% endblock content %}