{% extends 'story_6/layout.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center info my-4">
                <h1 class="font-weight-bold">{{aktivitas}}</h1>
                <p>{{aktivitas.deskripsi}}</p>
                <hr>
            </div>
        </div>
        <h4>Belum daftar? coba <a href="{% url 'story_6:tambah_member' %}">Daftar member</a></h3>
    </div>
    <div class='container'>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Full Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>{{member.nama_depan_member}}</td>
                        <td>{{member.nama_belakang_member}}</td>
                        <td>{{member.nama_depan_member}} {{member.nama_belakang_member}}</td>
                        <td><a class="btn btn-danger btn-xl " href="{% url 'story_6:hapus_member' member.id %}">Hapus</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <th scope="row">-</th>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock  %}