{% extends 'story_6/layout.html' %}
{% block content %}
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center info my-4">
                    <h1 class="font-weight-bold">Daftar Aktifitas</h1>
                    <hr>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="container">
            <div class="row">
            {% for activity in activities %}
                <div class="col-12 col-md-6 col-xl-4 my-3">
                    <div class="d-flex align-items-center justify-content-center h2 block">
                        <p>{{activity.nama_aktivitas}}</p>
                    </div>
                    <div class="col-md-12 text-center">
                        <a class="btn btn-primary btn-xl" href="{% url 'story_6:detail' activity.id %}">Lihat</a>
                        <a class="btn btn-warning btn-xl " href="{% url 'story_6:hapus_aktivitas' activity.id %}">Hapus</a>
                    </div>
                </div>
                {% empty %}
                    <div class="col-12 col-md-6 col-xl-4 mx-auto">
                        <div class="d-flex align-items-center justify-content-center h2 block">
                            Belum ada aktivitas
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <a class="btn btn-primary btn-xl " href="{% url 'story_6:tambah_aktivitas' %}">Tambah Aktivitas</a>
                    </div>
            {% endfor %}
            </div>
        </div>     
    </section>
{% endblock  %}