{% load static %}
{% block header %}
{% endblock  %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar">
        <div class="container">
            <!--Navbar brand-->
            <a class="navbar-brand font-weight-bold" href="{% url 'story_6:index' %}">Home</a>

            <!--Collapse button if we shrink to smaller screen-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav ml-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'story_6:tambah_aktivitas' %}">Tambah Aktifitas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'story_6:index' %}">Lihat Aktifitas</a>
                    </li>
                </ul>
            </div>        
        </div>    
    </nav>
</header>