@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html {
  min-height: 100%;
  font-family: "Nunito", sans-serif;
}

body {
  background: linear-gradient(to right, #68afa9, #6f9dd1);
  line-height: 1.5;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  color: white;
  text-align: center;
  text-decoration: underline;
}

.accordion {
  background: white;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.accordion-1 {
  order: 1;
}

.accordion-2 {
  order: 2;
}

.accordion-3 {
  order: 3;
}

.accordion-4 {
  order: 4;
}

.accordion-header {
  border-bottom: 1px solid #dde0e7;
  color: #222222;
  cursor: pointer;
  font-weight: 600;
  padding: 1.5rem;
  background: #74b9ff;
}

.accordion-header:hover {
  background: #fdf8d7;
}

.accordion-header.active {
  background: #fdf8d7;
}

/* Buat content dari accordion-items display nya none */
.accordion-content {
  display: none;
  padding: 1.4rem;
}

/* Up and Down */
.up {
  background-color: #00cec9;
}

.up:hover,
.down:hover {
  opacity: 0.9;
  background-color: #e17055;
}

.down {
  background-color: #00b894;
  color: white;
  transition: 0.5s ease-out;
}
