body {
  background-color: #141516;
}
.block {
  height: 250px;
  color: white;
  background: #232324;
  margin-bottom: 30px;
  transition: background-color ease-in-out 0.4s;
}

a:hover {
  text-decoration: none;
}
