{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block css %}{% endblock css %}
    <link rel="shortcut icon" href="{% static 'story_7/accordion.ico' %}">
    <title>Story {% block title %}{% endblock title %} Daniel</title>
</head>
<body>
    {% block content %}{% endblock content %} 
    <script src="{% static 'story_7/js/script.js' %}"></script>
</body>
</html>