{% extends 'story_7/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'story_7/css/styles.css' %}">{% endblock css %}
{% block title %}7{% endblock title %}
{% block content %}

    <h1 class="my-4">FAQ</h1>

    <div class="accordion d-flex flex-column">
        <div class="accordion-item accordion-1">
            <div class="accordion-header d-flex justify-content-between align-items-center">
                <p class="accordion-title">Bisa jelaskan deskripsi singkat tentangmu?</p>
                <div class="button-group d-flex justify-content-end justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&uarr;</h2>
                    </div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&darr;</h2>
                    </div>

                </div>
            </div>
            <div class="accordion-content">
                <p>Hallo, nama saya Daniel Syahputra, sekarang sedang berkuliah di Fakultas Ilmu Komputer Universitas Indonesia</p>
            </div>
        </div>

        <!-- Items 2 -->
        <div class="accordion-item accordion-2">
            <div class="accordion-header d-flex justify-content-between align-items-center">
                <p class="accordion-title">Aktivitas dan rutinitas saat ini apa saja?</p>
                <div class="button-group d-flex justify-content-end justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&uarr;</h2>
                    </div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&darr;</h2>
                    </div>
                </div>
            </div>
            <div class="accordion-content">
                <p>
                    Untuk saat ini saya sedang menjalani rutinitas perkuliahan. Namun ada beberapa hal yang saat ini secara rutin saya kerjakan, yaitu:
                </p>
                <ul>
                    <li>
                        Mencoba mengeksplorasi lebih dalam mengenai <strong>web development</strong>
                    </li>
                    <li>
                        Mengasah kemampuan <strong>problem solving</strong> lewat belajar <strong>data structure and algorithm</strong>
                    </li>
                </ul>
            </div>
        </div>

        <div class="accordion-item accordion-3">
            <div class="accordion-header d-flex justify-content-between align-items-center">
                <p class="accordion-title">Tolong ceritakan dong tentang pencapaianmu</p>
                <div class="button-group d-flex justify-content-end justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&uarr;</h2>
                    </div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&darr;</h2>
                    </div>
                </div>
            </div>
            <div class="accordion-content">
                <p>
                    Menjadi mahasiswa Fasilkom UI
                </p>
            </div>
        </div>

        <div class="accordion-item accordion-4">
            <div class="accordion-header d-flex justify-content-between align-items-center">
                <p class="accordion-title">Kira-kira apa target mu kedepannya?</p>
                <div class="button-group d-flex justify-content-end justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&uarr;</h2>
                    </div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&darr;</h2>
                    </div>
                </div>
            </div>
            <div class="accordion-content">
                <p>
                    Beberapa target saya kedepannya yaitu:
                </p>
                <ul>
                    <li>Menambah <strong><em>personal / group project</em></strong></li>
                    <li>Meningkatkan kemampuan programming, khususnya kemampuan struktur data dan algoritma</li>
                    <li>Meningkatkan <strong><em>soft skill</em></strong></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}